
<h5>Examen toevoegen</h5>

<div class="container">
    <div class="card">
        <div class="card-header">
            Beheer
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-2">
                    <label>Examen</label>
                </div>
                <div class="col-lg-3">
                    <select class="form-control">
                        <option value="1">Examen 1</option>
                        <option value="2">Examen 2</option>
                        <option value="3">Examen 3</option>
                        <option value="4">Examen 6</option>
                        <option value="5">Examen 8</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-2">
                    <label>Datum behaald</label>
                </div>
                <div class="col-lg-5">
                    <input class="col-lg-7 form-control" type="date" name="thuisadres" value="09/09/1999" />
                </div>
            </div>
            <a href="/Employee/ProfileEducations" class="btn btn-primary mt-3">Examen toevoegen</a>
            <hr />
            <p><strong>Examen niet gevonden? Vraag via onderstaande knop een nieuw examen aan. Office zal dit dan spoedig aan uw CV toevoegen.</strong></p>
            <a href="/Employee/ProfileEducations" class="btn btn-primary">Nieuw examen aanvragen</a>
        </div>
    </div>
</div>










