
<div class="container">

    <h5>Taalkennis toevoegen</h5>

    <div class="grid-add-language-skills mt-2" style="margin-left: 200px;">
        <div class="d-flex my-auto">
            <label>Taal</label>
        </div>
        <div>
            <select class="form-control">
                <option value="1">Arabisch</option>
                <option value="2">Duits</option>
                <option value="3">Nederlands</option>
                <option value="4">Portugees</option>
                <option value="5">Engels</option>
                <option value="6">Japaans</option>
                <option value="7">Frans</option>
                <option value="8">Perzisch</option>
            </select>
        </div>
        <div class="d-flex my-auto">
            <label>Lezen</label>
        </div>
        <div>
            <select class="form-control">
                <option value="1">Geen</option>
                <option value="2">Noties</option>
                <option value="3">Basis</option>
                <option value="4">Goed</option>
                <option value="5">Zeer goed</option>
                <option value="6">Moedertaal</option>
            </select>
        </div>
        <div class="d-flex my-auto">
            <label>Schrijven</label>
        </div>
        <div>
            <select class="form-control">
                <option value="1">Geen</option>
                <option value="2">Noties</option>
                <option value="3">Basis</option>
                <option value="4">Goed</option>
                <option value="5">Zeer goed</option>
                <option value="6">Moedertaal</option>
            </select>
        </div>
        <div class="d-flex my-auto">
            <label>Spreken</label>
        </div>
        <div>
            <select class="form-control">
                <option value="1">Geen</option>
                <option value="2">Noties</option>
                <option value="3">Basis</option>
                <option value="4">Goed</option>
                <option value="5">Zeer goed</option>
                <option value="6">Moedertaal</option>
            </select>
        </div>
    </div>

    <div style="margin-left: 200px; margin-top: 50px;">
        <a href="/Employee/ProfileEducations" class="btn btn-primary">Toevoegen</a>
        <a href="/Employee/ProfileEducations" class="btn">Annuleren</a>
    </div>
</div>