
<h4>Cursus toevoegen</h4>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <label class="float-right">Naam</label>
        </div>
        <div class="col-lg-10">
            <input type="text" name="name" value="" class="col-lg-3 form-control" />
        </div>
        <div class="col-lg-2 mt-2">
            <label class="float-right">Datum</label>
        </div>
        <div class="col-lg-10">
            <input class="col-lg-3 form-control" type="date" name="name" value="09/09/1999" />
        </div>
        <div class="col-lg-2 mt-2">
            <label class="float-right">Locatie</label>
        </div>
        <div class="col-lg-10">
            <input type="text" name="name" value="" class="col-lg-3 form-control" />
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-9 float-left">
            <a href="/Employee/ProfileEducations" class="btn btn-primary">Toevoegen</a>
            <a href="/Employee/ProfileEducations" class="btn">Annuleren</a>
        </div>
    </div>
</div>