
<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileInfo">Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileWorkExperiences">Werkervaringen</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="/Employee/ProfileCompetencies">Competenties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileEducations">Opleidingen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileCV">CV</a>
    </li>
</ul>

<div class="container">
    <div class="input-group my-3">
        <input type="text" class="form-control" placeholder="Zoeken" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Zoeken</button>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header p-0" id="headingOne">
                <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="float-left">Andere (1)</span>
                </button>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered rounded">
                        <tr>
                            <td style="width: 40% !important;">Unit Testing</td>
                            <td style="width: 10% !important;">Basis</td>
                            <td style="width: 40% !important;">VS</td>
                            <td style="width: 10% !important;">Goed</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header p-0" id="headingTwo">
                <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="float-left">Besturingssystemen (6)</span>
                </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <td class="p-0 pl-2" style="width: 40% !important;">Unit Testing</td>
                            <td class="p-0 pl-2" style="width: 10% !important;">Basis</td>
                            <td class="p-0 pl-2" style="width: 40% !important;">VS</td>
                            <td class="p-0 pl-2" style="width: 10% !important;">Goed</td>
                        </tr>
                        <tr>
                            <td class="p-0 pl-2" style="width: 40% !important;">VS Code</td>
                            <td class="p-0 pl-2" style="width: 10% !important;">Goed</td>
                            <td class="p-0 pl-2" style="width: 40% !important;">LinQ</td>
                            <td class="p-0 pl-2" style="width: 10% !important;">Voldoende</td>
                        </tr>
                        <tr>
                            <td class="p-0 pl-2" style="width: 40% !important;">Office</td>
                            <td class="p-0 pl-2" style="width: 10% !important;">Goed</td>
                            <td class="p-0 pl-2" style="width: 40% !important;"></td>
                            <td class="p-0 pl-2" style="width: 10% !important;"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header p-0" id="headingThree">
                <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                    <span class="float-left">Databases (3)</span>
                </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>