
<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileInfo">Info</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="/Employee/ProfileWorkExperiences">Werkervaringen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileCompetencies">Competenties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileEducations">Opleidingen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileCV">CV</a>
    </li>
</ul>

<div class="container">
    <partial name="_EmployeeWorkExperiences" />
</div>