@model AbcPeople.ViewModels.ProfileEducationAddExamViewModel;

<h5>Examen toevoegen</h5>
<form asp-action="SaveEmployeeExam">
    @*<input type="hidden" asp-for="@Model.EmployeeExam.Id" />*@
    <div class="container">
        <div class="card">
            <div class="card-header">
                Beheer
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <label>Examen</label>
                    </div>
                    <div class="col-lg-3">
                        <select class="form-control" asp-for="EmployeeExam.ExamId" asp-items="@Model.Exams"></select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-2">
                        <label>Datum behaald</label>
                    </div>
                    <div class="col-lg-5">
                        <input class="col-lg-7 form-control" type="date" asp-for="EmployeeExam.Date" />
                    </div>
                </div>
                <input type="submit" value="Examen toevoegen" class="btn btn-primary mt-3" />
                <hr />
                <p><strong>Examen niet gevonden? Vraag via onderstaande knop een nieuw examen aan. Office zal dit dan spoedig aan uw CV toevoegen.</strong></p>
                <a href="/Employee/ProfileEducations" class="btn btn-primary">Nieuw examen aanvragen</a>
            </div>
        </div>
    </div>
</form>










