
<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileInfo">Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileWorkExperiences">Werkervaringen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileCompetencies">Competenties</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ProfileEducations">Opleidingen</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="/Employee/ProfileCV">CV</a>
    </li>
</ul>

<div class="container">
    <h5>CV genereren</h5>
    <div class="row">
        <label class="col-lg-2 text-right">Bedrijf </label>
        <select class="form-control col-lg-3">
            <option value="1">ABC-Groep</option>
            <option value="2">ACE</option>
            <option value="3">Beyond-it</option>
            <option value="4">Cereus.be</option>
            <option value="5">DynApps</option>
        </select>
    </div>
    <div class="row">
        <label class="col-lg-2 text-right">Contactpersoon</label>
        <select class="form-control col-lg-3">
            <option value="1">Birgit De Meyer</option>
            <option value="2">Guy Hendrickx</option>
            <option value="3">Isabelle Moeyaert</option>
            <option value="4">Janik Thorez</option>
            <option value="5">Jiri  Marien</option>
            <option value="6">Karel Hendrickx</option>
            <option value="7">Martijn Kruining</option>
            <option value="8">Pascal Van Dessel</option>
            <option value="9">Patrick Callewaert</option>
            <option value="10">Sven Deruyter</option>
        </select>
    </div>
    <div class="row">
        <label class="col-lg-2 text-right">Taal</label>
        <select class="form-control col-lg-3">
            <option value="NL">Nederlands</option>
            <option value="EN">Engels</option>
        </select>
    </div>
    <h6>Extra opties</h6>
    <hr />
    <div class="grid-container">
        <div class="grid-item">
            <label>
                Korte versie
            </label>
        </div>
        <div class="grid-item">
            <input type="checkbox" value="">
        </div>
        <div class="grid-item">
            <label>
                Logo's
            </label>
        </div>
        <div class="grid-item">
            <input type="checkbox" value="">
        </div>
        <div class="grid-item">
            <label class="checkbox-inline d-block">
                LinkedIn URL
            </label>
        </div>
        <div class="grid-item">
            <input type="checkbox" value="">
        </div>
        <div class="grid-item">
            <label>
                Twitter & blog URL's
            </label>
        </div>
        <div class="grid-item">
            <input type="checkbox" value="">
        </div>
        <div class="grid-item">
            <label>
                Opleiding datums
            </label>
        </div>
        <div class="grid-item">
            <input type="checkbox" value="">
        </div>

        <div class="grid-item">
            <label>
                Key competenties
            </label>
        </div>
        <div class="grid-item">
            <input type="checkbox" value="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-10">
        <input type="button" name="name" value="Download CV" class="btn btn-primary" />
    </div>
</div>