
<h4>Opleiding toevoegen</h4>

<div class="container">
    <ul class="nav nav-tabs ">
        <li class="nav-item active">
            <a class="nav-link active" href="#1x" data-toggle="tab">NL</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#1y" data-toggle="tab">EN</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="1x">
            <div class="card border-top-0">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="float-right mp-auto">Opleiding</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" name="name" value="" class="form-control col-lg-4" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="float-right mp-auto">Omschrijving</label>
                        </div>
                        <div class="col-lg-10">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:small !important;">
                                            <i class="fas fa-font"></i> Normal text
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Normaal text</a>
                                            <a class="dropdown-item" href="#">Heading 1</a>
                                            <a class="dropdown-item" href="#">Heading 2</a>
                                            <a class="dropdown-item" href="#">Heading 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn"><b>Bold</b></button>
                                    <button type="button" class="btn"><i>Italic</i></button>
                                    <button type="button" class="btn"><u>Underline</u></button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <button type="button" class="btn"><i class="fa fa-list-ul"></i></button>
                                    <button type="button" class="btn"><i class="fa fa-list-ol"></i></button>
                                    <button type="button" class="btn"><i class="fas fa-outdent"></i></button>
                                    <button type="button" class="btn"><i class="fas fa-indent"></i></button>
                                </div>
                            </div>

                            <div class="mt-2">
                                <textarea name="w3review" style="width: 100%; height: 200px; resize: none;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="tab-pane" id="1y">

            <div class="card border-top-0">
                <div class="card-body">
                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="float-right mp-auto">Education</label>
                        </div>
                        <div class="col-lg-10">
                            <input type="text" name="name" value="" class="form-control col-lg-4" />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-2">
                            <label class="float-right mp-auto">Description</label>
                        </div>
                        <div class="col-lg-10">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:small !important;">
                                            <i class="fas fa-font"></i> Normal text
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Normaal text</a>
                                            <a class="dropdown-item" href="#">Heading 1</a>
                                            <a class="dropdown-item" href="#">Heading 2</a>
                                            <a class="dropdown-item" href="#">Heading 3</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group mr-2" role="group" aria-label="Second group">
                                    <button type="button" class="btn"><b>Bold</b></button>
                                    <button type="button" class="btn"><i>Italic</i></button>
                                    <button type="button" class="btn"><u>Underline</u></button>
                                </div>
                                <div class="btn-group" role="group" aria-label="Third group">
                                    <button type="button" class="btn"><i class="fa fa-list-ul"></i></button>
                                    <button type="button" class="btn"><i class="fa fa-list-ol"></i></button>
                                    <button type="button" class="btn"><i class="fas fa-outdent"></i></button>
                                    <button type="button" class="btn"><i class="fas fa-indent"></i></button>
                                </div>
                            </div>

                            <div class="mt-2">
                                <textarea name="w3review" style="width: 100%; height: 200px; resize: none;">
                                        </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-2">
                <label class="float-right">Beginjaar</label>
            </div>
            <div class="col-lg-10">
                <input type="number" name="name" value="" class="form-control col-lg-4" />
            </div>
            <div class="col-lg-2">
                <label class="float-right">Eindjaar</label>
            </div>
            <div class="col-lg-10">
                <input type="number" name="name" value="" class="form-control col-lg-4" />
            </div>
            <div class="col-lg-2">
                <label class="float-right">Instituut</label>
            </div>
            <div class="col-lg-10">
                <input type="text" name="name" value="" class="form-control col-lg-4" />
            </div>
            <div class="col-lg-2">
                <label class="float-right">Locatie</label>
            </div>
            <div class="col-lg-10">
                <input type="text" name="name" value="" class="form-control col-lg-4" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-3"></div>
            <div class="col-lg-9">
                <a href="/Employee/ProfileEducations" class="btn btn-primary">Toevoegen</a>
                <a href="/Employee/ProfileEducations" class="btn">Annuleren</a>
            </div>
        </div>
    </div>
</div>