@model AbcPeople.BDO.Entities.EmployeeCourse

<h4>Cursus toevoegen</h4>
<form asp-action="SaveEmployeeCourse">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <label class="float-right">Naam</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="col-lg-3 form-control" asp-for="@Model.Course.Name" />
            </div>
            <div class="col-lg-2 mt-2">
                <label class="float-right">Datum</label>
            </div>
            <div class="col-lg-10">
                <input class="col-lg-3 form-control" type="date" asp-for="@Model.Timestamp" />
            </div>
            <div class="col-lg-2 mt-2">
                <label class="float-right">Locatie</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="col-lg-3 form-control" asp-for="@Model.Course.Location" />
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-9 float-left">
                <input type="submit" value="Toevoegen" class="btn btn-primary mt-3" />
                <a href="/Employee/ProfileEducations" class="btn">Annuleren</a> <!--Todo change to input + which action- redirect?-->
            </div>
        </div>
    </div>
</form>