<h5>Wie is wie?</h5>

<ul class="nav nav-tabs ">
    <li class="nav-item active">
        <a class="nav-link active" href="#1m" data-toggle="tab">Naam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#1n" data-toggle="tab">Functie & domein</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#1o" data-toggle="tab">Certificaat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#1p" data-toggle="tab">Bedrijf</a>
    </li>
</ul>
<div class="tab-content mt-3">
    <div class="tab-pane active" id="1m">
        <div class="container">
            <div class="row ml-4 mb-2">
                @*<input type="button" name="name" value="Voornaam" class="col-lg-1" />
        <input type="button" name="name" value="Achternaam" class="col-lg-1" />*@
                <input type="button" name="name" value="Voornaam" class="btn col-lg-1" />
                <input type="button" name="name" value="Achternaam" class="btn col-lg-2" />
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header p-0" id="headingOne">
                        <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            <span class="float-left">A-E</span>
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div class="grid-all-profiles">
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header p-0" id="headingTwo">
                        <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="float-left">F-J</span>
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div class="grid-all-profiles">
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header p-0" id="headingThree">
                        <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="float-left">K-O</span>
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="grid-all-profiles">
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header p-0" id="headingFour">
                        <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="float-left">P-T</span>
                        </button>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <div class="grid-all-profiles">
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="accordion">
                <div class="card">
                    <div class="card-header p-0" id="headingFive">
                        <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <span class="float-left">P-T</span>
                        </button>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <div class="grid-all-profiles">
                                <div class="grid-profile-item">
                                    <div class="grid-all-profiles-subgrid">
                                        <div class="grid-all-profiles-subgrid-item">
                                            <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                                        </div>
                                        <div class="grid-all-profiles-subgrid-item">
                                            <h6>Naam - voornaam</h6>
                                            <p>Medior Consultant</p>
                                            <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                            <p>0499/21.36.rtrtr85</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="tab-pane" id="1n">

        <div class="container">

            <div class="row">
                <div class="col-lg-2">
                    <label class="float-right my-auto">Functie</label>
                </div>
                <div class="col-lg-10">
                    <select class="form-control col-lg-2">
                        <option value="1">Consultant</option>
                        <option value="1">Back Office</option>
                        <option value="1">Management</option>
                        <option value="1">Sales / HR</option>
                        <option value="1">System Engineer</option>
                        <option value="1">System Engineer Consultant</option>
                        <option value="1">Unit Manager</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                    <label class="my-auto float-right">Domein</label>
                </div>
                <div class="col-lg-10 my-1">
                    <select class="form-control col-lg-2">
                        <option value="1">Java</option>
                        <option value="1">.NET</option>
                        <option value="1">Sharepoint</option>
                        <option value="1">OpenERP</option>
                        <option value="1">Project Manager</option>
                        <option value="1">Cold Fusion</option>
                        <option value="1">Oracle</option>
                        <option value="1">Business Intelligence</option>
                        <option value="1">Managed Services</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10 my-1">
                    <input type="button" name="name" value="Zoeken" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="1o">
        <select class="col-lg-6 rounded">
            <option value="1">Certificaat 1</option>
            <option value="2">Certificaat 2</option>
            <option value="3">Certificaat 3</option>
            <option value="4">Certificaat 4</option>
            <option value="5">Certificaat 5</option>
            <option value="6">Certificaat 6</option>
            <option value="7">Certificaat 7</option>
            <option value="8">Certificaat 8</option>
            <option value="9">Certificaat 9</option>
            <option value="10">Certificaat 10</option>
            <option value="11">Certificaat 11</option>
            <option value="12">Certificaat 12</option>
            <option value="13">Certificaat 13</option>
            <option value="14">Certificaat 14</option>
            <option value="15">Certificaat 15</option>
            <option value="16">Certificaat 16</option>
            <option value="17">Certificaat 17</option>
        </select>

        <button class="rounded"><i class="fas fa-plus"></i>Toevoegen</button>

        <h4 class="my-4">Geselecteerde certificaten (AND)</h4>

        <input type="button" name="name" value="Zoeken" class="btn btn-primary col-lg-1"/>

    </div>
    <div class="tab-pane" id="1p">
        <div class="container">
            <div class="grid-company ml-5">
                <div class="grid-company-item">
                    <label class="my-auto">
                        <input type="checkbox" name="name" value="" /> ABC-Groep
                    </label>
                </div>
                <div class="grid-company-item">
                    <label class="my-auto">
                        <input type="checkbox" name="name" value="" /> ACE
                    </label>
                </div>
                <div class="grid-company-item">
                    <label class="my-auto">
                        <input type="checkbox" name="name" value="" /> Beyond-it
                    </label>
                </div>
                <div class="grid-company-item">
                    <label class="my-auto">
                        <input type="checkbox" name="name" value="" /> Cereus.be
                    </label>
                </div>
                <div class="grid-company-item">
                    <label class="my-auto">
                        <input type="checkbox" name="name" value="" /> DynApps
                    </label>
                </div>
            </div>
            <input type="button" name="name" value="Zoeken" class="btn btn-primary ml-5 mt-3" />
        </div>
    </div>
</div>