<h5>Wie is wie?</h5>

<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoName">Naam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Employee/ShowWhoIsWhoFunctionAndDomain">Functie & domein</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoCertificate">Certificaat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoCompany">Bedrijf</a>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <label class="float-right my-auto">Functie</label>
        </div>
        <div class="col-lg-10">
            <select class="form-control col-lg-2">
                <option value="1">Consultant</option>
                <option value="1">Back Office</option>
                <option value="1">Management</option>
                <option value="1">Sales / HR</option>
                <option value="1">System Engineer</option>
                <option value="1">System Engineer Consultant</option>
                <option value="1">Unit Manager</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label class="my-auto float-right">Domein</label>
        </div>
        <div class="col-lg-10 my-1">
            <select class="form-control col-lg-2">
                <option value="1">Java</option>
                <option value="1">.NET</option>
                <option value="1">Sharepoint</option>
                <option value="1">OpenERP</option>
                <option value="1">Project Manager</option>
                <option value="1">Cold Fusion</option>
                <option value="1">Oracle</option>
                <option value="1">Business Intelligence</option>
                <option value="1">Managed Services</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-10 my-1">
            <input type="button" name="name" value="Zoeken" class="btn btn-primary" />
        </div>
    </div>
</div>