<h5>Wie is wie?</h5>

<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoName">Naam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoFunctionAndDomain">Functie & domein</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/Employee/ShowWhoIsWhoCertificate">Certificaat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoCompany">Bedrijf</a>
    </li>
</ul>

<div class="container">
    <select class="col-lg-6 rounded">
        <option value="1">Certificaat 1</option>
        <option value="2">Certificaat 2</option>
        <option value="3">Certificaat 3</option>
        <option value="4">Certificaat 4</option>
        <option value="5">Certificaat 5</option>
        <option value="6">Certificaat 6</option>
        <option value="7">Certificaat 7</option>
        <option value="8">Certificaat 8</option>
        <option value="9">Certificaat 9</option>
        <option value="10">Certificaat 10</option>
        <option value="11">Certificaat 11</option>
        <option value="12">Certificaat 12</option>
        <option value="13">Certificaat 13</option>
        <option value="14">Certificaat 14</option>
        <option value="15">Certificaat 15</option>
        <option value="16">Certificaat 16</option>
        <option value="17">Certificaat 17</option>
    </select>
    <button class="rounded"><i class="fas fa-plus"></i>Toevoegen</button>
    <h4 class="my-4">Geselecteerde certificaten (AND)</h4>
    <input type="button" name="name" value="Zoeken" class="btn btn-primary col-lg-1" />
</div>