<h5>Wie is wie?</h5>

<ul class="nav nav-tabs ">
    <li class="nav-item active">
        <a class="nav-link active" href="/Employee/ShowWhoIsWhoName">Naam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoFunctionAndDomain">Functie & domein</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoCertificate">Certificaat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoCompany">Bedrijf</a>
    </li>
</ul>

@*<div class="tab-content mt-3">
    <div class="tab-pane active" id="1m">
        <div class="container">

        </div>
    </div>
    <div class="tab-pane" id="1n">

    </div>
    <div class="tab-pane" id="1o">

    </div>
    <div class="tab-pane" id="1p">
        
    </div>
</div>*@