<h5>Wie is wie?</h5>

<ul class="nav nav-tabs ">
    <li class="nav-item active">
        <a class="nav-link active" href="/Employee/ShowWhoIsWhoName">Naam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoFunctionAndDomain">Functie & domein</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoCertificate">Certificaat</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Employee/ShowWhoIsWhoCompany">Bedrijf</a>
    </li>
</ul>

<div class="row ml-4 mb-2">
    @*<input type="button" name="name" value="Voornaam" class="col-lg-1" />
        <input type="button" name="name" value="Achternaam" class="col-lg-1" />*@
    <input type="button" name="name" value="Voornaam" class="btn col-lg-1" />
    <input type="button" name="name" value="Achternaam" class="btn col-lg-2" />
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header p-0" id="headingOne">
            <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <span class="float-left">A-E</span>
            </button>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <div class="grid-all-profiles">
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header p-0" id="headingTwo">
            <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span class="float-left">F-J</span>
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <div class="grid-all-profiles">
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header p-0" id="headingThree">
            <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <span class="float-left">K-O</span>
            </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <div class="grid-all-profiles">
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header p-0" id="headingFour">
            <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <span class="float-left">P-T</span>
            </button>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                <div class="grid-all-profiles">
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="accordion">
    <div class="card">
        <div class="card-header p-0" id="headingFive">
            <button class="btn btn-link collapsed btn-block" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <span class="float-left">P-T</span>
            </button>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                <div class="grid-all-profiles">
                    <div class="grid-profile-item">
                        <div class="grid-all-profiles-subgrid">
                            <div class="grid-all-profiles-subgrid-item">
                                <img src="/images/unknown-male-person.jpg" alt="Alternate Text" class="img-fluid" />
                            </div>
                            <div class="grid-all-profiles-subgrid-item">
                                <h6>Naam - voornaam</h6>
                                <p>Medior Consultant</p>
                                <p><a href="#">Naam.voornaam@ac-e.be</a></p>
                                <p>0499/21.36.rtrtr85</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>